[2019-12-18 20:38] evandrogrm opened #3 "mudar ip de host do redis"
Olá pessoal, boa tarde!
Eu to com o problema de não conseguir configurar o redis para este provider. Está tentando fazer uma conexão para o redis 127.0.0.1 6379, sendo que no arquivo bull.js dentro do config as variaveis de ambiente coloquei outro endereço, tem como alterar?
![Screenshot_173](https://user-images.githubusercontent.com/6799983/71121228-db000000-21bc-11ea-9eac-eda86b68e3fe.png)
![Scr

[2019-12-19 01:47] HigoRibeiro commented on #3
Fala Evandro!

Na verdade você deve especificar dentro do `config/bull.js`, qual configuração do `config/redis.js` ele vai utilizar, então se no arquivo `config/redis.js` você tem a seguinte configuração:
[code]

Você tem 3 opções de conexão: `local`, `bull` e `cluster`.

Na `config/bull.js` você define qual delas você usará para o seu `bull`.
[code]

[2019-12-19 11:38] TNkemdilim opened #4 "Is Project Stable?"
Thanks for such a great library.

Considering that kue is no longer maintained, bull serves as a better alternative.

I'll love to find out if this library is currently stable for production?

[2019-12-19 15:40] ebnersilva commented on #4
Hi
I am using this library and so far no problem.

[2019-12-19 15:43] TNkemdilim commented on #4
Great @ebnersilva.

Also, is there some kind of support for `auto-retry` and `timeout`?

[2019-12-19 16:43] ebnersilva commented on #4
Yes, follow the link: https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueadd

[2019-12-19 19:18] evandrogrm commented on #3
Descobri o que tava ocorrendo, eu não usava a porta padrão 6379, utilizo a porta 6380 por ter conflito de portas. Porém quando é utilizado no docker-compose `ports: - "6380:6380"` não basta, não é possível fazer conexão ao banco redis. Para isso é necessário seguir o exemplo desse maravilhoso comentário que me salvou:
https://github.com/luin/ioredis/issues/763#issuecomment-451041838

[code]

Valeu

[2019-12-19 19:18] #3 closed

[2019-12-21 12:48] TNkemdilim commented on #4
Thanks.

[2019-12-21 12:48] #4 closed

[2020-01-03 20:40] pellizzetti opened #7 "Missing step at provider configuration?"
@HigoRibeiro

Taking a look at this [line][l21] we can see that all configuration from this provider come from `config/redis.js`.

Since this is missing in the `README` and I have nowhere near your experience with AdonisJS, I'll ask:

Is this step implicit? I know this file is created when we install the official Redis provider. Is this something that is expected of those who use this provider to

[2020-01-05 21:58] HigoRibeiro commented on #7
@pellizzetti

Actually, it's not necessary we install the Redis provider to use our provider, it's necessary that the `config/redis.js` file exists to indicate which `redis` configuration we'll use.

I agree to move all provider settings to the `config/bull.js` file and maybe add on `job class` a connection method for when we need to use specific connection setting.

[2020-01-09 02:34] vitorcremonez opened #10 "Set interval for each attempt"
I am trying to configure a queue with "attempts" field number.
I need to retry again in my interval configuration time  if job fail, not at once.

As described in official bull documentation. For each new attempt the job is put on delayed mode, but this seems to not working.

![job-lifecycle](https://user-images.githubusercontent.com/22584064/72032337-d4b9ec80-326d-11ea-867b-62bf73b74ee4.png)

How

[2020-01-10 18:31] mlrlite opened #12 "Remote Redis Host Issue"
I've setup my docker container and set my redis connection to the connection below
`  kubernetes: {
    host: Env.get('REDIS_HOST', '127.0.0.1'),
    port: Env.get('REDIS_PORT', 6379),
    password: Env.get('REDIS_PASSWORD', null),
    db: Env.get('REDIS_DB', 6),
  }`
but each time I run the code it trys to connect to 127.0.0.1.

After some debugging, I was able to get it work by changing
`this.co

[2020-01-11 03:24] 2peter3 commented on #12
Duplicate of #11

PR is already submitted :)

[2020-01-13 12:40] HigoRibeiro commented on #10
This should work the way you set it up!! 🤔
I'll try the same test you did

[2020-01-13 13:01] HigoRibeiro commented on #12
It was fixed in #11

[2020-01-13 13:01] #12 closed

[2020-01-14 22:16] pellizzetti commented on #7
#13 fixes this. 😄

[2020-01-14 22:16] #7 closed

[2020-01-21 14:46] joaorbrodrigues opened #14 "Processing multiple jobs"
Hi!

First of all, thanks for coding this provider. I'm pretty new to development and not all things are clear.

I'm facing the following issue at the moment:
`Missing process handler for job type 64788854000167`

This happens when I try to add more than one job on the same controller...

How things are set up here:

Under **app/jobs**, I have two classes:
- CreateCustomer
- CreateSubAccount

Basi

[2020-01-22 12:29] HigoRibeiro commented on #14
Hi @joaorbrodrigues!!
Your settings look correct!
I'll try to follow you and see if I find anything!

[2020-01-22 12:44] HigoRibeiro commented on #14
@joaorbrodrigues how are your jobs?
I tried to add two jobs and everything went well.

[2020-01-22 13:31] joaorbrodrigues commented on #14
Hi @HigoRibeiro ,

Here are the jobs:

[code]

[code]

Thanks for the support so far

[2020-01-22 14:32] pellizzetti commented on #14
Thanks for the detailed issue report @joaorbrodrigues.

@HigoRibeiro IIRC, this is related to running multiple jobs without a [named processor](https://github.com/Rocketseat/adonis-bull/blob/master/src/Queue.js#L151). Take a look at this [issue](https://github.com/OptimalBits/bull/issues/1334) for additional context.

[2020-01-22 14:41] HigoRibeiro commented on #14
@joaorbrodrigues thanks!
Looking at the bull's documentation, I realized that the `data` needs to come in the form of an object. And in your code, when you call work `createSubAccountJob` you pass the `data` as a string and there is a possibility that it is null which generates this error. Can you verify that?

[2020-01-22 15:01] joaorbrodrigues commented on #14
@pellizzetti , based on the error I was getting, this is one of the issues I checked before opening this one.

@HigoRibeiro that was the error! Thank you so much for the analysis!

I would never have guessed that based on the error I was getting.

Keep up the amazing work.

[2020-01-22 16:39] #14 closed

[2020-02-12 16:03] barisigman opened #17 "Address already in use"
After adding adonis-bull to project when I try to kill with 'Control + C' and start dev server again it show error below.

![Ekran Resmi 2020-02-12 18 51 59](https://user-images.githubusercontent.com/23339935/74352385-77afda00-4dc9-11ea-9161-bec18bd039e4.png)

After killing node process manually it output to console this massage;
`info: Stopping bull board server`

Node Version: 13.7.0
Adonis Vers

[2020-02-18 01:23] brunoesposito opened #18 "Use Mail (readme)"
Acredito ter achado um possível erro na documentação. Nesse [ponto do Readme](https://github.com/Rocketseat/adonis-bull#creating-your-job) está informando que deverá ser importado o Mail através de uma const no topo do arquivo. Só que aqui pra mim aparece o seguinte erro...

[code]
Então o seguinte ajuste foi feito aqui **no meu código**:

[code]

E o server reiniciou normalmente. Confere?

[2020-02-18 02:06] brunoesposito commented on #18
eu inclui o:

[code]

e resolveu o problema!

[2020-02-18 02:07] #18 closed

[2020-02-18 13:38] HigoRibeiro commented on #18
Fala @brunoesposito só para dar o meu parecer, ocorre que o `Mail` depende da `View` para ele gerar o `hmtl` de acordo com o arquivo `edge`.
No exemplo era apenas uma ilustração de como pode ser chamado.

Muito obrigado pela contribuição.
Abraços

[2020-02-18 13:40] HigoRibeiro commented on #17
Thanks for your report!
I'll see this soon.

[2020-03-03 10:21] vitalyrotari commented on #17
Can you release 0.2.2 to NPM ?

[2020-03-14 14:57] kennedyrs commented on #10
I have the same behavior here, any update?

[2020-03-14 15:04] kennedyrs opened #19 "Dúvidas de uso dos Jobs"
Eu tenho uma dúvida quanto ao Bull, dentro do método handle, como eu digo que algo não deu certo?

Por exemplo, dependendo da resposta de uma API, quero que a fila tente executar a ação novamente mais tarde.

[code]

Seria só lançar uma Exception?

[code]

[2020-03-16 13:28] HigoRibeiro commented on #19
Fala @kennedyrs !
Isso mesmo, lança exceção que é a maneira de dizer que o serviço não deu certo!

[2020-03-16 13:30] HigoRibeiro commented on #17
Hi @vitalyrotari ! In this week I'll see this!!
I promise!

[2020-03-16 17:33] kennedyrs commented on #19
Outra dúvida, qual seria a melhor estratégia para acionar um job assim que a aplicação iniciar?

`Bull.add(Job.key, {
  delay: 6000,
  attempts: 3,
  repeat: {
    cron: '0 */6 * * *'
  }
})`

[2020-03-16 17:53] erikjose opened #21 "Repeat Cron"
Para rodar o job todos os dias as 05:30 da manhã, o que devo fazer?

[2020-03-20 14:27] HigoRibeiro commented on #17
@barisigman I tried to fix this bug, but it is difficult to reproduce.
When you can test to see if the problem is resolved.

[2020-03-20 14:27] HigoRibeiro commented on #17
I released!

[2020-03-20 19:15] barisigman commented on #17
@HigoRibeiro I tested new release and problem is resolved. Thanks for new release.

[2020-03-30 14:51] Heitorh3 opened #22 "Warning: Adonis has detected an unhandled promise rejection"
Adonis esta laçando esse warning quando iniciado.
WARNING: Adonis has detected an unhandled promise rejection, which may cause undesired behavior in production. To stop this warning, use catch() on promises or wrap await calls inside try/catch.

Error: connect ECONNREFUSED 127.0.0.1:6379
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1129:14) {
  errno: 'ECONNREFUSED',
  code: 'ECONNRE

[2020-04-01 11:36] HigoRibeiro commented on #22
Fala @Heitorh3 como está seu arquivo `config/bull.js`? Está ligado o `redis` na sua máquina?

[2020-04-19 21:48] mcordoba opened #24 "TypeError: queue.Job is not a constructor"
Im trying to use your provider but once I add te preload to the server it brokes everything with this error:

TypeError: queue.Job is not a constructor

Queue.js line 146:
      const Job = new queue.Job()

Any idea?

[2020-04-25 15:45] rodrigorz commented on #22
Estou obtendo esse mesmo erro, porém estou utilizando docker e acontece somente quando executo os testes do adonis.

Quando executo a aplicação, fazendo a requisição pelo Postman, funciona normalmente.

Por que será que nos testes da esse problema?

[2020-04-27 00:51] gusflopes opened #25 "Adonis V5?"
Tem previsão se e quando esse pacote vai começar a ser migrado para o Adonis V5?

[2020-04-27 15:45] HigoRibeiro commented on #25
Fala @gusflopes blz?
Ainda não há previsão, mas é algo a se pensar!

Abraços

[2020-04-27 15:45] #25 closed

[2020-04-27 15:47] HigoRibeiro commented on #24
Hi, @mcordoba !

Can you send me more about this error?

Did you register a `job.js`?

[2020-04-27 15:49] HigoRibeiro commented on #22
Fala @rodrigorz , como está seu arquivo `.env.testing`?

Quando você executa o test está com o docker ligado normalmentE?

[2020-04-27 16:52] rodrigorz commented on #22
@HigoRibeiro achei o problema.

Como o redis está em um container e a API em outro, os testes precisam ser executados de dentro do container da API (eu estava executando da minha máquina local). Por isso ele não conectava, já que eu passava o nome do container do redis como host.

Porém agora estou enfrentando outro erro:
`1. it should send an email with reset password instructions
  Error: Test t

[2020-04-27 17:03] rodrigorz commented on #22
Resolvido! Apenas aumentando o timeout do teste.

[2020-04-28 13:07] ouraios opened #26 "Is adonis-bull working with Adonis V5 ?"
I'd like to start a project with Adonis V5 but i'd like to know if adonis-bull work with this version of adonis ?
Thanks in advance !

[2020-04-28 20:34] #22 closed

[2020-04-29 14:40] ruanitto commented on #21
Você pode usar o Advanced Jobs:
https://github.com/Rocketseat/adonis-bull#advanced-jobs

Usando o cron 30 5 * * * *

Bull.add(key, data, {
  repeat: {
    cron: "30 5 * * * *"
  }
});

[2020-04-29 16:48] ruanitto commented on #10
I solve this with [backoff option](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#queueadd)

backoff: number | BackoffOpts; // Backoff setting for automatic retries if the job fails

In my case:
{
      delay: 1500,
      attempts: 20,
      removeOnComplete: true,
      backoff: {
        type: 'exponential',
        delay: 3000
      }
}

A static configuration can also be created

[2020-05-01 02:16] ymoreiratiti commented on #26
+1

[2020-05-01 17:44] #24 closed

[2020-05-09 10:59] mcordoba opened #27 "Command registration missing on docs"
Hello,

I just figured it out how to register the command to process jobs from node ace and it is not on docs.
[code]

Could you add it to docs?

[2020-05-25 14:11] rennanribeiro opened #28 "How to access a list of jobs?"
I would like to check if a job has already been registered before launching another one. What is the best way?

[2020-05-25 15:09] #28 closed

[2020-06-13 01:08] lamana-team opened #30 "How to test e-mail sending job?"
Hello friends! I am trying to test the sending of e-mails that is being done within a Job.

The problem I found was that the Mail.fake () functionality does not work when the email is fired from within the Job. It works if the e-mail triggered from a Controller for example.

Do you have any idea how I can get around this?

[2020-06-13 19:25] lamana-team commented on #30
I have been working on this problem for a few hours and although I have not been able to find a solution, however I managed to do something paleative.

What I did was create a condition within the control based on the environment. If the variable NODE_ENV is equal to 'testing' I send the email inside the controller instead of running the JOB.

In this case, considering that the job is exclusively

[2020-06-25 09:57] phucnguyen1605 opened #31 "Can't get data from Job ?"
Hello
First of all, thanks for coding this provider.

In app/controllers/http, i have the following controller:

[code]

In app/Jobs/RegisterDashboard i have the following:

[code]

When debug Job data transmitted is no data that controller transmits.
Could you please help me? Maybe I'm missing something here...

Data from Job be like

[code]

Thanks

[2020-07-17 12:46] #27 closed

[2020-07-17 17:51] HigoRibeiro commented on #31
Hi @phucnguyen1605 !!
It seems ok.

I made the structure like as yours and it worked fine!

Did you open the bull board? Did you see anything stranger?

![Captura de Tela 2020-07-17 às 14 49 55](https://user-images.githubusercontent.com/3085522/87815895-cd872300-c83c-11ea-85a4-0168d98056b6.png)

[2020-07-18 01:24] JonhnyDev opened #33 "config/bull.js rate limiter not working"
Olá pessoal da rocket e demais devs =)

to fazendo minhas filas e fui testar a configuração do bull.js definindo um "max" e "duration" dentro de "limiter" para testar o envio de emails com regras do limitador até por que como todos sabem o AWS SES tem regras de limite de envio mas mesmo configurando como pede a doc não funcionou o bull processou todos juntos sem delay! segue outras informações:

c

[2020-07-27 18:32] HigoRibeiro commented on #33
Fala @JonhnyDev em tese apenas essa configuração seria o suficiente para você trabalhar com o `limiter`, vou tentar replicar o seu teste aqui para ver se algo diferente precisa ser acrescentado.

Sobre a questão do sucesso, você poder acrescentar um método no seu `Job` com o seguinte nome  `onCompleted` que recebe dois parâmetros sendo o primeiro uma referência ao job e o segundo o resultado do `j

[2020-07-27 18:58] HigoRibeiro commented on #30
Hi @lamana-team unfortunately this provider is not prepared to work cool with tests, so you need to add a palliative strategy.

When running your tests you shouldn't use the bull as production, I guess that's why what your job is sending the e-mail.

So, what can you do is make a fake provider like below:
[code]

Then, inside the **vowfile**:
[code]

Now, when you call a test actually you'll use t

[2020-07-27 23:02] JonhnyDev commented on #33
Fala @HigoRibeiro Muto obrigado pelo retorno.
Vou aplicar a questão do sucesso e fico no aguardo dos testes sobre o limiter muito obrigado por sua atenção.

[2020-07-28 13:10] HigoRibeiro commented on #33
@JonhnyDev acho que entendi seu problema!!
Toda alteração que existir no `Job` pode não está sendo refletida na execução, dai você precisa reiniciar o serviço.
Eu coloquei uma alteração para o `limiter` ser de 5 segundos, salvei e não mudou nada, depois reiniciei o serviço que executa meus jobs e passou a funcionar:
![Captura de Tela 2020-07-28 às 10 07 57](https://user-images.githubusercontent.c

[2020-07-28 13:13] HigoRibeiro commented on #26
Hi @ouraios , but the adonis-bull doesn’t work with Adonis V5 yet, but I want to work on that feature soon.

[2020-08-03 14:55] zulfi007 commented on #26
+1

[2020-08-04 01:28] ouraios commented on #26
Cant wait @HigoRibeiro ! That would be amazing !

[2020-08-07 21:16] JonhnyDev commented on #33
funcionou , obrigado

[2020-08-13 02:15] wemersonrv opened #34 "Como detectar um que um job falhou, após todos os attempts?"
Vendo a documentação sobre eventos aqui em https://github.com/Rocketseat/adonis-bull#events me surgiu uma dúvida:

Tem algum evento específico para quando o job finaliza as tentativas e não consegue processar?

Olha um exemplo onde tento 3 vezes:

[code]

![image](https://user-images.githubusercontent.com/2028673/90086657-50db4d80-dcf1-11ea-87ac-0db637dfbcf4.png)

A parte dos attempts funcionou ce

[2020-08-13 02:44] wemersonrv commented on #34
Olhei na doc to bull direto e não tem evento específico nesse caso, mas tem um contador das tentativas no job

**job.attemptsMade**
Quantidade de tentativas

**job.opts.attempts**
Número de tentativas a serem processadas. Vai disparar o evento `onFailed` em todas.

[code]

[2020-08-13 02:44] #34 closed

[2020-08-14 13:43] #33 closed

[2020-08-22 19:22] TNkemdilim opened #35 "Command to generate job class"
I believe it'll be a good addition if an ace command existed to generate a job file.

E.g.: `adonis make:job SendEmail` creates a `app/Jobs/SendEmail.js` from an existing template.

[2020-08-23 00:00] wemersonrv opened #36 "Need to reset statistics from board"
Good night.

Where are stored the data showed on the job statistics displayed on Bull Dashboard?

Need to clear them here but don't found!

[2020-08-29 02:49] wemersonrv opened #37 "How can i update a job progress information ?"
Hello, i have some jobs that are a bit slow and need to show the running progress.

So, How can i update a job progress information ?

[2020-09-02 17:19] wemersonrv opened #38 "How can i list, pause and resume scheduled jobs ?"
Hello,

Need to handle scheduled jobs, like List (only) scheduled jobs in all queue, and pause/resume scheduled jobs. Tryed to use `bull.queues` but cannot make it works.

[2020-09-07 01:43] RodolfoSilva commented on #26
I started a PR to add support for Adonis 5, take a look # 39

[2020-09-07 01:43] RodolfoSilva commented on #26
I started a PR to add support for Adonis 5, take a look #39

[2020-09-13 13:08] detygon commented on #26
That's the missing piece for me. Can't wait for the PR to get merged. Good job @RodolfoSilva and thanks.

[2020-09-13 22:42] RodolfoSilva commented on #26
Thanks @detygon. I'm waiting for a review from @HigoRibeiro or @diego3g.

[2020-09-28 19:17] cheesepaulo opened #42 "How to customize url of bull board?"
const Bull = use("Rocketseat/Bull");

Bull.process()
  // Optionally you can start BullBoard:
  **.ui(9999); // http://localhost:9999  // I change this line to ex: admin/jobs ..... app fails**
// You don't need to specify the port, the default number is 9999

I need to protect this route.

[2020-09-29 13:49] LeCoupa commented on #42
It looks like the `ui()` function only accepts a port number. Why don't you use something like Nginx for this?

[2020-09-29 18:11] mxthevs commented on #26
Looking forward to the V5 support as well

[2020-11-03 16:34] dmillerSHQ opened #43 "Queue Limiter Not Working"
I have a process that adds a single item to the queue and it works perfectly.

I have another process that adds 10 items to the queue, but they all process at the same time, I was expecting 1 at a time but can't get this process to work like this.  What am I missing?

Working Code
`async handle (args, options) {
    // get env
    const appEnv = Config.get("app.environment");

    // get company i

[2020-12-18 12:55] VictorLessa opened #45 "Pacote não instala"
npm ERR! code ENOENT
npm ERR! syscall rename
npm ERR! path D:\Documents\3C\3c-perdas\node_modules\body-parser\node_modules\debug
npm ERR! dest D:\Documents\3C\3c-perdas\node_modules\body-parser\node_modules\.debug.DELETE
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, rename 'D:\Documents\3C\3c-perdas\node_modules\body-parser\node_modules\debug' -> 'D:\Documents\3C\3c-perda

[2020-12-18 17:55] VictorLessa opened #46 "Como posso limpar a fila que contem a mesma mensagem"
Eu possuo uma tarefa onde construo uma estrutura JSON para gráfico que é ativada sempre que um cliente atualiza ou finaliza um serviço. Gostaria de, ao iniciar essa tarefa, verificar se existe a mesma tarefa em fila para apaga-las, já que o resultado será o mesmo que a tarefa que tinha acabado de finalizar

[2020-12-23 18:15] #38 closed

[2020-12-23 18:15] #37 closed

[2020-12-23 18:15] wemersonrv commented on #36
Hello? Is this package died because there are no answers after several months???

[2021-01-18 15:06] fingunt opened #48 "queue.Job is not a constructor"
Ola estou testando, e esta tendo teste retorno no erro alguma dica

queue.Job is not a constructor
![Screen Shot 2021-01-18 at 12 06 31](https://user-images.githubusercontent.com/33792792/104931753-9c231780-5985-11eb-987d-7bada4afb473.png)

[2021-01-19 10:27] fhugoduarte commented on #42
Hey @cheesepaulo , I will close this issue for lack of current interactions. Feel free to open it again if necessary.

[2021-01-19 10:27] #42 closed

[2021-01-19 10:29] #10 closed

[2021-01-19 10:30] #19 closed

[2021-01-19 10:33] HigoRibeiro commented on #21
Hey, I will close this issue for lack of current interactions. Feel free to open it again if necessary.

[2021-01-19 10:33] #21 closed

[2021-01-19 10:42] HigoRibeiro commented on #30
Hey, I will close this issue because is resolved.

[2021-01-19 10:42] #30 closed

[2021-01-19 10:43] HigoRibeiro commented on #31
Hey, I will close this issue for lack of current interactions. Feel free to open it again if necessary.

[2021-01-19 10:43] #31 closed

[2021-01-19 10:44] HigoRibeiro commented on #35
We will implement this!! :heart:

[2021-01-19 10:46] fhugoduarte commented on #46
Hi @VictorLessa .

You first need to pass a jobId when adding your job to the queue, you can use the user id for that. So to remove, just use the remove method, like this:

[code]

You can put this code inside a try/catch so that if the job is no longer in the queue, it doesn't generate an exception.

[2021-01-19 10:53] HigoRibeiro commented on #45
Victor, conseguiu instalar depois?
Pode ser algo relacionado a versão do node.

[2021-01-19 11:13] #45 closed

[2021-01-19 11:54] fhugoduarte commented on #36
Hey @wemersonrv , forgiveness for the delay :disappointed:

adonis-bull use the [bull-board](https://github.com/vcapretz/bull-board) package, it fetches this information from the queue, that is, it will be stored in redis. The bull-board offers the options to clean some jobs.

We're working on a new version compatible with adonis5 and we will update the bull-board.

I hope it was useful.

[2021-01-19 12:15] HigoRibeiro commented on #48
Hey @fingunt !
I think you may have passed a wrong path in your `start/jobs` or there has some error in your implementation.

Can you look at these files or show me?

[2021-01-19 12:36] HigoRibeiro commented on #43
I've run some tests and they were in sequential.

Did you change anything in the default options?

[2021-01-19 13:35] fingunt commented on #48
![Uploading Screen Shot 2021-01-19 at 10.35.18.png…]()

[2021-01-19 13:35] fingunt commented on #48
seria este
![Screen Shot 2021-01-19 at 10 35 18](https://user-images.githubusercontent.com/33792792/105041708-1618d680-5a42-11eb-8603-916afe4eaa14.png)

[2021-01-19 13:36] fingunt commented on #48
outra
![Screen Shot 2021-01-19 at 10 36 34](https://user-images.githubusercontent.com/33792792/105041811-38aaef80-5a42-11eb-9046-2a5a8c887c02.png)

[2021-01-19 13:51] rodrigogaraujo opened #49 "Fila para após uns minutos"
Tenho uma api onde preciso enviar notificações

Nessa api tem uma lista com notificaçoes a serem enviadas ao decorrer do dia.

As primeiras sempre vão tudo certinho

Mas após uma duas horas as outras notificações não são enviadas.

Alguém já passou por isso?

Adicionei try catch em todo passo para ver se dar algum erro, mas não tem erro algum

[2021-01-19 14:08] HigoRibeiro commented on #48
And the `UserRegisterEmail.js`?

[2021-01-19 14:34] fingunt commented on #48
seria este
![Screen Shot 2021-01-19 at 11 34 28](https://user-images.githubusercontent.com/33792792/105048433-57ad7f80-5a4a-11eb-8f32-6e7649487a68.png)

[2021-01-19 21:16] HigoRibeiro opened #50 "Adonis V5 migration"
We're working on integration with adonis v5.

### :construction:  Roadmap
 - [X] Command improvement
 - [X] Bull Board upgrade
 - [X] Fix schedule method
 - [X] README improvement
 - [X] Tests adjustments (#57)

Special thanks @RodolfoSilva for initializing the implementation in PR #39

[2021-01-19 21:22] HigoRibeiro commented on #26
This issue will be closed to be followed in the #50

[2021-01-19 21:22] #26 closed

[2021-01-20 16:35] ruanitto commented on #50
Tava fazendo alguns testes já com o pacote, não sei se vocês já realizaram o ajuste, caso sim pode desconsiderar.

Mas ele dá um erro com a conexão ao redis, pq nas linhas 40 e 116, ele passa o objeto BullConnectionContract inteiro, e não apenas a configuração definida.

[2021-01-20 17:53] fhugoduarte commented on #50
Hi @ruanitto :hugs:

We are making some changes, but could you give us more information about the error?

[2021-01-20 17:53] fhugoduarte commented on #50
Hi @ruanitto hugs

We are making some changes, but could you give us more information about the error?

[2021-01-20 18:28] zulfi007 commented on #50
Finally🤓

[2021-01-20 19:00] ashokgelal commented on #50
Sorry I don't talk Portuguese and I'm just trying to help :)

I don't know if this is related but the instructions in the README file is wrong about how to configure the connection. I've updated the README in fork so feel free to consult it: https://github.com/ashokgelal/adonis-bull

Basically, there are two steps missing/incomplete in the README:
1. Setup: `node ace invoke @ashokgelal/adonis-bull

[2021-01-20 19:26] fhugoduarte commented on #50
No problem, we're talking in English by default, as this package isn't only used by people who speak Portuguese.

Thx you for your report, but we added all the necessary setup for the bull configuration in the `invoke` command. Then with the invoke command your project will be ready to work with jobs that will be created with the `make:job` command. We're done with that.

[2021-01-21 01:49] ruanitto commented on #50
Sorry, my English is not very good, I ended up using the google translator but at the time it was kind of curled up and I ended up writing in Portuguese.
First of all, thank you very much for teaching all of you with the package, I think it is sensational.

I did all the configuration really according to your repository, but the connection to the redis failed, I performed the debug, and in the Bul

[2021-01-21 02:14] ruanitto commented on #49
Comigo aconteceu, mas com erros mesmo por conta de alguns métodos dentro da fila, identifiquei conectando no redis e vendo os Jobs com falha, cada tentantiva de execução que falha, o Job mantém a descrição do erro junto dos dados no redis

[2021-01-22 17:58] jpedroschmitz commented on #49
Hey @rodrigogaraujo, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2021-01-22 17:58] #49 closed

[2021-01-22 18:00] jpedroschmitz commented on #48
Hey @fingunt, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

If you still have questions, I recommend you open a new issue in English, this way our com

[2021-01-22 18:00] #48 closed

[2021-01-22 18:01] jpedroschmitz commented on #45
Hey @VictorLessa, this issue was closed because it was not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2021-01-22 18:05] jpedroschmitz commented on #34
Hey @wemersonrv, thanks for opening an issue 👋🏻

While contributing or interacting in any way in this project, refrain from using any language other than English. This way, if another person has the same question, they can easily find a solution by checking all the issues. I recommend you take a look at the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/C

[2021-01-22 18:06] jpedroschmitz commented on #25
More information on #50.

[2021-01-22 18:07] jpedroschmitz commented on #19
Hey @kennedyrs, this issue was closed because it was not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2021-01-22 18:09] jpedroschmitz commented on #21
Hey @erikjose, while contributing or interacting in any way in this project, refrain from using any language other than English. I recommend you take a look at the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language) 💜

[2021-01-22 18:10] jpedroschmitz commented on #3
Hey @evandrogrm, while contributing or interacting in any way in this project, refrain from using any language other than English. I recommend you take a look at the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language) 💜

[2021-01-22 18:11] jpedroschmitz commented on #46
Hey @VictorLessa, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2021-01-22 18:11] #46 closed

[2021-01-23 19:54] zulfi007 commented on #50
My suggestion is keep migration in alpha branch and   in typescript as adonis v5 is mostly in ts.
Readme file also needs rewrite as per new rules.

[2021-01-25 12:19] jpedroschmitz commented on #50
Hey @zulfi007, we will do that. The documentation and code for version 5 will be on a separated branch (named `alpha`) while Adonis 5 is still in beta. After that, we will merge it on master and will be the default.

[2021-01-27 01:05] jpedroschmitz commented on #35
Hey @TNkemdilim, we have added a make command for the next version of Adonis Bull, that adds support for Adonis v5.

You can create jobs files by running `node ace make:job <name>` on the project folder.

To know more about the support for Adonis v5, [click here](https://github.com/Rocketseat/adonis-bull/tree/alpha).

[2021-01-27 01:05] #35 closed

[2021-01-27 01:05] jpedroschmitz commented on #50
Hey guys, the support for version 5 was officially released 🎉

It is a premajor, and may contain bugs, but we encourage you to use it on your projects and report any problem you may have.

To get started with it, you can install it with NPM or Yarn:

[code]

After installing it, run `node ace invoke @rocketseat/adonis-bull`, choose a start option and you're ready to go ⚡️

You can find the complet

[2021-01-27 01:05] #50 closed

[2021-01-27 09:28] TNkemdilim commented on #35
That's awesome. Thanks for the update.

[2021-01-27 10:46] LeCoupa commented on #50
Great @jpedroschmitz! Will install it tomorrow :)

[2021-01-27 17:53] jpedroschmitz commented on #36
Hey @wemersonrv, we have updated the `bull-board` package to the latest version, where it is now possible to clear all completed/failed jobs or delete specific ones. That's the reason I'm closing this issue, if you have any questions, let me know.

![shot](https://user-images.githubusercontent.com/26466516/106032539-5a921b00-60af-11eb-9cf5-84d4966782a3.png)

[2021-01-27 17:53] #36 closed

[2021-01-28 10:28] Agilulfo1820 opened #62 "Command that queues a job won't end"
**Description of bug**

Add a job queue library (ex Adonis Bull)
Create a job with a console log in the handle method
Create an ace command that queues the job inside the handle method

Result: Job will be executed but the command won't end (close it with CTRL+C)
Expected result: job is triggered and command closes correctly.

<pre><code>
'use strict'

const {Command} = require('@adonisjs/ace')
co

[2021-01-28 20:01] rodrigorz opened #63 "Show bull-board on a custom route [V5]"
**What would you like to be added**:

The bull-board package has a config to show the dashboard on a custom route ([here](https://github.com/vcapretz/bull-board), inside Hello World section) using express, and i think the adonis-bull can have the same functionality.

**Why is this needed**:

I'll need this, because the Admin User of my system will need to retry the failed jobs if necessary.

**Is

[2021-01-28 23:48] ruanitto opened #64 "Override queue options [alpha]"
**Description of bug**

As described in the alpha version documentation, it is possible to overwrite the queue / job options, however the options are not applied at the time of execution.
As the example below, I configured some options, among them the removeOnComplete option, when adding the Job in a queue the options are not inserted.
In the adonis4 version these settings work correctly

**To Rep

[2021-01-29 12:53] rodrigorz commented on #64
Also in the adonis4 version is possible to set `defaultJobsOptions`, i didn't see this option in the alpha version.

The `defaultJobsOptions` is good to set the same config for all jobs, like `removeOnComplete`, `backoff`, etc.

Maybe it can be done along with this issue.

[2021-01-29 17:45] rodrigorz commented on #64
One more thing, using the example above:

Inside my Controller, if i try to (following the docs)
[code]
i got this error message `Property 'key' does not exist on type 'typeof AlertsJob'.ts(2339)`.

But this way it works, creating a job object.
[code]

Is that so or did I do something wrong?

[2021-01-29 17:48] ruanitto commented on #64
In my case, since version 4 I have always preferred to use the job key directly in the method, without having to import the job into the controller:

[2021-01-29 18:09] rodrigorz commented on #64
In version 4 the `AlertsJob.key` works, because of the method `static get key() {}`.

I like to import the Job, it is easy to guarantee the use of the correct name and if at any time i need to rename the job name, it is simple.

But the `new AlertsJob().key` way works fine, so this is just a mention of something that is different in the docs. 😄

[2021-01-29 18:16] rodrigorz commented on #64
I just solve the "problem" with this
[code]

[2021-01-29 18:24] ruanitto commented on #64
I could also declare the key as static:

[code]

[2021-01-29 18:33] LeCoupa opened #65 "Where can I define my Bull.add() functions to schedule daily cron tasks?"
Thanks again for the migration to Adonis5. :)

I am wondering where I can set up my job tasks that should occur daily. Something that should happen when the Adonis server has started.

[code]

If you have any idea. In the past, I was using an Igniter hook but I don't know if there is an equivalent for Adonis 5 :)

[2021-01-29 18:39] rodrigorz commented on #64
The `JobContract` interface does not allow this. The 'key' can't be static.

[code]

[2021-01-30 01:44] HigoRibeiro commented on #62
Hi @Agilulfo1820 !!
Could you try this?
[code]

In the **Bull's** doc there's the [Queue#close](https://github.com/OptimalBits/bull/blob/13194ea7de228d21bf2d0d5b1d61b7c56aa6f377/REFERENCE.md#queueclose) to disconnect from the redis client.
I think that solves the problem of keeping alive.

[2021-01-30 11:22] LeCoupa commented on #65
FYI, the best is to use a provider :)

https://github.com/adonisjs/core/discussions/2188#discussioncomment-322869

[2021-01-30 11:22] #65 closed

[2021-01-30 11:34] Agilulfo1820 commented on #62
Sorry, still doesn't end :/

[2021-01-30 16:45] LeCoupa opened #66 "Missing removeRepeatable() method?"
Is there a way to remove a repeatable job with the `removeRepeatable()` method?

<img width="789" alt="Screenshot 2021-01-30 at 17 45 31" src="https://user-images.githubusercontent.com/1658644/106362406-f8d9e700-6322-11eb-998a-789752885059.png">

[2021-02-02 12:27] HigoRibeiro commented on #66
Hi @LeCoupa!
A way to do this directly by Bull has not yet been implemented, but you can try it like this:
[code]

 You need to follow the bull's own instructions: [removeRepeatable](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueremoverepeatable), [removeRepeatableByKey](https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#queueremoverepeatablebykey).

 Then we can add

[2021-02-02 12:29] LeCoupa commented on #66
Great thank you 👍

[2021-02-03 13:20] jericopulvera commented on #62
@Agilulfo1820

Have you tried this?
[code]

[2021-02-09 12:11] HigoRibeiro commented on #64
Hi @ruanitto, thanks a lot to report this issue!

I checked and actually can't get `options`.
I'll create a PR to fix this.

[2021-02-09 12:15] HigoRibeiro commented on #64
@rodrigorz:

The `defaultJobsOptions` now is called just `options`, and I'll fix this.

I'll see about your `key` point as well

[2021-02-09 13:56] rodrigorz commented on #64
Thanks.

The work around that i mentioned before won't work, this will cause an infinity loop.
[code]

The `public static get` method must have a different name from the `key` attribute.

[2021-02-09 15:09] rodrigorz commented on #64
Thanks.

By the way, the work around that i mentioned before won't work, it will cause an infinity loop.
[code]

Perhaps changing the name of the method will work. But setting the `key` attribute to static seems to be the way to go.

[2021-02-09 18:47] LeCoupa opened #71 "Method inside the Job class is not callable"
The task below will trigger the following error when called.

[code]

Is there a way to call a method from the same class inside `handle()`?

[2021-02-11 12:33] HigoRibeiro commented on #71
Hi @LeCoupa !
Unfortunately, as it is being done today it is not possible.
But I will made a PR that fixes this.

[2021-02-11 13:08] LeCoupa commented on #71
Thank you 😊

[2021-02-12 13:53] jpedroschmitz commented on #71
Hey, I've just published `1.0.0-1` that should fix the issue.

Let me know if you have any problem @LeCoupa 💜

[2021-02-12 13:53] #71 closed

[2021-02-12 16:18] LeCoupa commented on #71
Thank you 🙏

[2021-02-16 07:41] RicardoPBarbosa commented on #19
Estou tentanto fazer isto mas no Provider em que função corro os ```Bull.add()```? Tentei em ```register```, ```boot``` mas não estou conseguindo importar o Bull do tipo ```const Bull = this.app.use('Rocketseat/Bull');``` dá sempre ```Bull.add is not a function```.

Exemplo:
[code]

[2021-02-24 21:17] jpedroschmitz commented on #64
Hey, I have just released `v1.0.0-2` that should fix this issue!

To install it, just run `yarn add @rocketseat/adonis-bull@alpha@latest`.

Thanks for your patience and help in reporting the bug!

[2021-02-24 21:17] #64 closed

[2021-03-12 18:18] rumoru opened #73 "Multiple queues with same job handler"
Thank you for your work.

Correct me if I am wrong but it seems that this implementation makes  1 to 1 relation between JobContract and Queue it is running against (Adonis 5).

Here is an example of a use case: upload file and process every single line. So job would be - single line processing. All lines are added to the queue. Now I want to upload second file at the same time, but it is added to

[2021-03-16 12:56] HigoRibeiro commented on #73
Hi @rumoru.
I'll check that out, but I think you're right

[2021-03-16 13:00] HigoRibeiro commented on #63
Hi @rodrigorz !!

I checked this question and tried and several ways to customize the route, but without success. I have come to the conclusion that it is not possible.

A suggestion is to configure your web server to handle this.

Thanks.

[2021-03-16 13:00] #63 closed

[2021-03-19 17:44] rodrigorz commented on #63
Hi @HigoRibeiro

I'll try some ideas and if it works out I'll come back here to show.

Thanks.

[2021-03-21 18:12] fingunt commented on #66
Hello, would it be possible to remove a job that is repeating every day of the week?

[2021-03-26 08:58] RicardoPBarbosa commented on #62
I need to do something similar to this but I can't even make Bull be recognized in a command :S
It always gives me: `Cannot read property 'bull' of undefined` and I got the imports right.
And Bull works on a regular controller, just not on commands or providers.
I really needed this to work or else I don't know how to handle newsletter sending.

[2021-03-30 18:44] anthrogan opened #75 "onWaiting not emitting when job in waiting"
**Description of bug**
`onWaiting()` not being called when a job goes in to waiting

**To Reproduce**

**Expected behavior**
onWaiting to call when job goes in to waiting

**Screenshots**
![image](https://user-images.githubusercontent.com/30973884/113039420-8d2fc100-918f-11eb-99a1-d8a6362772d0.png)
![image](https://user-images.githubusercontent.com/30973884/113039944-23fc7d80-9190-11eb-8104-d734a6

[2021-04-12 16:53] dedpalich opened #76 "bug npm install | this.container.bind is not a function BullProvider.register"
Когда я беру свой проект с гитхаба
То есть беру проект без папки node_modules
И устанавливаю пакеты npm install
Возникает такой баг

**console**
[code]

**package.json**
[code]

[2021-04-29 13:58] thejullius opened #79 "TypeError and server stopped after update @adonisjs/core"
**Description of bug**

i am getting an error and the server is stopping after update @adonisjs/core from `5.0.4-preview-rc` to `5.1.5`

**To Reproduce**

Just update @adonisjs/core to 5.1.5

**Exception or Error**
<pre><code>
TypeError: this.container.bind is not a function

1 BullProvider.register
  /home/workspace/node_modules/@rocketseat/adonis-bull/build/providers/BullProvider.js:11

2 anonym

[2021-04-29 15:12] thejullius commented on #79
While I investigated the adonis discussions, the creators do not recommend updating anything that starts with @adonisjs until the release comes out.

https://github.com/adonisjs/core/issues/2445#issuecomment-816606933
https://github.com/adonisjs/core/discussions/2424#discussioncomment-532946

So it is recommended to keep the versions of @adonisjs in the latest release.
<pre><code>
    "@adonisjs/a

[2021-05-05 17:42] mxthevs commented on #79
["Out of preview"](https://docs.adonisjs.com/releases/out-of-preview) got released today, and this error will be affecting everyone who decide to update

[2021-05-07 17:56] anthrogan commented on #79
Likely caused by the below breaking change
![image](https://user-images.githubusercontent.com/30973884/117489726-ded52380-af65-11eb-826e-0e2f76b2b15a.png)

[2021-05-12 09:51] lamtabonebrand opened #82 "TypeError: this.container.bind is not a function"
I get this error when running the application after invoking the adonis5-bull package.

**To fix this you need to update BullProvider.d.ts and BullProvider.js.**

Replace
import { IocContract } from '@adonisjs/fold'; with import { ApplicationContract } from '@ioc:Adonis/Core/Application';
and pass the appliocation contract to constuctor as seen below

[code]

and then make the approprite changes t

[2021-05-18 00:52] HigoRibeiro commented on #82
Hi @lamtabonebrand, this was fixed into PR #81.

I'll apreciate if you can test the new alpha release v1.0.4.

[2021-05-18 00:52] #82 closed

[2021-05-18 00:54] HigoRibeiro commented on #79
Hi @thejullius, this was fixed into PR #81.

I'll apreciate if you can test the new alpha release v1.0.4.

[2021-05-18 00:54] #79 closed

[2021-05-18 00:57] HigoRibeiro commented on #76
Hey @dedpalich , I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/adonis-bull/blob/master/.github/CONTRIBUTING.md#language)..

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2021-05-18 00:57] #76 closed

[2021-05-18 04:15] dedpalich commented on #76
Sorry

Translate:
When I take my project from github
That is, I take the project without the node_modules folder
And install the npm installation packages
There is such an error

[2021-05-22 22:28] arthur-er opened #84 "Use abstract class instead of interface for job types to define static members"
**What would you like to be added**:
I would like to change the current JobContract interface, to an abstract class instead, so it's possible to define key as a static member

**Why is this needed**:
So when adding new jobs its not necessary to call new Job().key, just Job.key, reducing instantiations made by the app and making the code prettier

**Is your enhancement request related to a problem?

[2021-05-25 13:21] dspangenberg opened #87 "Adonis 4: Installation fails"
Installation with `adonis install @rocketseat/adonis-bull` fails

**To Reproduce**

Type adonis install @rocketseat/adonis-bull in terminal.

**Expected behavior**

Installation of the the librrary

**Exception or Error**

Command failed: npm i --save @rocketseat/adonis-bull@legacy
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @rocketseat/adonis-bull@legacy.
npm ERR! notarg

[2021-05-26 14:33] kush-prof opened #88 "How to change from Http server startup to command"
Hi, a quick question, how do I change the initialisation from http server to node ace command after setup? for alpha branch

[2021-05-26 15:09] #88 closed, assigned to nobody

[2021-05-26 15:09] kush-prof commented on #88
Just remove the `"./start/bull"` from preloads key in .adonisrc.json

[2021-06-16 17:28] Agilulfo1820 commented on #62
Still here. I am using `process.exit(0)` to close the command while the job was queued but I noticed that each time it does that my db connection is being aborted:
[code]

So this solution is not obtimal.

[2021-06-20 21:02] RodolfoSilva commented on #87
@dspangenberg Use the `v0.2.5` version, the latest version is't compatible with adonis 4

[2021-06-21 14:20] Agilulfo1820 commented on #30
I did same but it doesn't work on my Adonis v4.
I have a job launched by a controller. I'm testing the endpoint and I want to be sure that the job was launched.

@HigoRibeiro  I set up everything as you said but my actual job is starting and Bull.spy is always `undefined`

[2021-07-06 17:29] xmarkclx opened #92 "What is the recommended setup for multiple workers?"
What is the best setup for multiple workers?

[2021-07-13 14:02] dspangenberg commented on #87
Hi @RodolfoSilva,

I've followed the instructions on https://github.com/Rocketseat/adonis-bull, which are obviously for Adonis 4 (This documentation refers to the stable version of Adonis Bull, for Adonis v4.x)

`adonis install @rocketseat/adonis-bull

After the error, I tried it with` yarn add @rocketseat/adonis-bull`, and successfully, 0.3.0 was installed.

There were some problems until I've re

[2021-07-15 16:17] wemersonrv commented on #87
Hello.

The last version with support for Adonis v4 is the **v0.2.5**? There are plans to update this version or will just update versions with Adonis V5 support?

[2021-07-22 01:33] wemersonrv commented on #36
Hello,

I'm still on the version **0.2.3** due to compatibility issues on my project, because i don't update it to adonis 5 yet.

Well i'm having an annoying issue when it gets a large amount of jobs list on board (completed, failed, etc)... it gets a lot of memory and is going to use a lot of swap. Last server i've checked it has about 50K completed jobs on list and it costs me a lot of memory, a

[2021-08-03 00:53] wemersonrv commented on #36
Hello, updating... The dashboard is giving me the error `ERR_CONNECTION_REFUSED`, but just the dashboard has this issue. It works fine and the Jobs are working.

OS: **Ubuntu Server 20.04**
Nodejs: **v12.22.4**

[2021-08-11 18:14] koteesy opened #93 "Cannot read property 'bull' of undefined"
Hello, i follow all steps on https://github.com/Rocketseat/adonis-bull/tree/alpha

But when i try dipatch job i got error:

[code]

Also, when i try call ```node ace bull:listen``` process output:
[code]

And immediately shutdown.

package.json
[code]

[2021-08-13 09:26] koteesy commented on #93
Alright, i found which exactly thrown error, if we have empty jobs array in ``start/jobs`, that throws all errors which i specified in issue.

[2021-08-13 09:26] #93 closed, assigned to nobody

[2021-09-03 22:59] arthur-er opened #95 "General improvements (v5)"
**What would you like to be added**:

- Queues should be registered on provider boot method, instead of register method.
  This allows using other packages without needing to fight the package import order

- Implement jobs as a abstract class instead of a interface
  This allows for many things, for example:
  - Possibility of using static key instead of needing to instantiate the job for dispatc

[2021-09-13 11:56] gabrielbanzai opened #96 "how do i schedule a task to repeat every 1st of the month or choose the day?"
**Description of issue**

I know we can schedule a job to run weekly. Is there the possibility of running the monthly repetition choosing the day or would I have to perform the daily check to perform in such a way?

**Usage example**

https://github.com/Rocketseat/adonis-bull#advanced-jobs

[2021-09-13 22:14] gabrielbanzai commented on #96
I found the way to do this. I didn't know what Cron Expressions are, now I understand how it works.
They can be tested simply on links like this

https://bradymholt.github.io/cron-expression-descriptor/

[2021-09-13 22:14] #96 closed, assigned to nobody

[2021-11-05 10:58] jericopulvera opened #98 "Adonis v5 Key Prefix"
Redis Key Prefix is not documented somewhere in v5.

[2021-12-08 19:46] arthur-rs opened #99 "Dúvida sobre o Bull"
### Oi, tudo bem?

Bem, estava com uma dúvida, os jobs são executados 1 por 1 ou vários de uma vez. Para manter a segurança da minha aplicação eu realmente preciso que seja executado 1 por 1, ele já vem no padrão assim? Ou preciso configurar alguma coisa?

Pq preciso disso? Minha aplicação irá processar transações financeiras reais, para uma melhor segurança e evitar fraudes, preciso que essas tra

[2021-12-10 01:54] ruanitto commented on #99
Hi Arthur,

The default is only 1 concurrency Job by queue, check default option in package for v4:
https://github.com/Rocketseat/adonis-bull/blob/b14fe6207ff9f4320bf76f57766994edd46516cb/src/Queue.js#L55

And in package for v5:

https://github.com/Rocketseat/adonis-bull/blob/d5397350d328f8d14e08feb9da5247c981848f97/src/BullManager.ts#L151

[2021-12-28 17:48] LeCoupa opened #100 "How to test jobs with Japa?"
Is there documentation somewhere or a code example that shows how to test a job with Japa? :)

[2022-02-09 12:22] n4an opened #102 "No context in bull exceptions handler like in default one."
No context in bull exceptions handler like in default one.

 Add information about your environment
 - OS: Ubuntu
 - Node 16
 - Adonis 5

**Additional context**

[code]

Bull handler

[code]

[2022-02-17 02:39] Zenkylo opened #105 "Support for addBulk"
**What would you like to be added**:
Support for [addBulk](https://docs.bullmq.io/guide/jobs/adding-bulks)

**Why is this needed**:
Use cases provided by BullMQ.

**Is your enhancement request related to a problem? Please describe.**
Nope, just a request.

**Additional context**

[2022-02-18 13:32] mik7up opened #106 "Properties names in job are with underscores"
Use job

[code]

But data properties names in job are with underscores:
[code]

When:
[code]

In UserRegister extends BaseMailer I will access use.first name and not user.firstName!?

[2022-03-04 00:53] JonhnyDev opened #107 "Support AdonisJS 5?"
(Achei na doc mb)

[2022-03-04 01:03] #99 closed, assigned to nobody

[2022-03-04 17:57] #107 closed, assigned to nobody

[2022-03-22 11:43] ebbbang commented on #98
Just use the *keyPrefix* attribute of connection.

E.g.
[code]

[2022-03-29 13:48] brkn opened #111 "BullMQ connection options deprecation"
**Description of bug**

On version `1.0.4` if I run `node ace bull:listen -b -p 9999`. I get deprecation messages in the console.

[code]

**To Reproduce**

Run `node ace bull:listen -b -p 9999`

**Expected behavior**

Not having a deprecation error on console

[2022-05-19 09:36] #98 closed, assigned to nobody

[2022-05-19 10:18] jericopulvera opened #116 "keyPrefix issue no data passed, Error: Missing lock for job (v5)"
**Description of bug**
keyPrefix breaks the Queue process

**To Reproduce**

Steps to reproduce the behavior:
1. Create Fresh Adonis v5
2. Install Adonis Bull for v5 using Adonis server runtime
3. Add any keyPrefix value e.g keyPrefix: 'c1'
4. Reload the Adonis server.
5. Add something to the Queue.
6. Check the bullboard.

**Expected behavior**

The job receives data and is processed successfully

[2022-08-07 11:33] hkmsadek opened #118 "How can we keep the data persistent when server goes down"
How can we keep the data persistent when server goes down?

[2022-08-07 12:16] hkmsadek opened #119 "How to protect the bull board behind a login form?"
I want to protect the bull board with a login form and authenticate first before accessing this. Any ways to do this?

[2022-08-08 15:42] theRealPadster opened #120 "Conflicting readme and description - is this library ready for Adonis v5 or not?"
**Description of issue**
README.md says that it's for Adonis v4, and to use the alpha branch for v5, but the github repo description says it's ready for Adonis v5.

If the main branch is working with Adonis v5, the disclaimer should be removed from the readme.md, as it is confusing when trying to decide which bull library to use.

**Usage example**
https://github.com/Rocketseat/adonis-bull
<img wi

[2022-08-15 15:25] jericopulvera commented on #116
The fix would be to use a prefix key in WorkerOptions and QueueOptions.

Unfortunately, the QueueOptions is not typed and you'll have to ignore it.

[code]

Issue details can be found in the BullMQ repo.
https://github.com/taskforcesh/bullmq/issues/424

[2022-08-15 15:25] #116 closed, assigned to nobody

[2022-08-15 15:26] jericopulvera commented on #98
keyPrefix will not work on v5 version more details here #116

[2022-09-26 20:52] capoia commented on #37
@wemersonrv you can tell me how?

[2022-09-27 00:18] wemersonrv commented on #37
@capoia just call the `updateProgress(...)` method passing the percentage of progress as an argument. See an example:

[code]

As the adonis-bull is a package to wrap for BullMQ, so i've check the bullmq docs and found a bunch of info. See here: https://api.docs.bullmq.io/classes/Job.html#updateProgress.

[2022-10-24 13:49] Venipa opened #122 "v5 job file malformed"
**Description of bug**
Unable to start adonis with bullmq, "Invalid or unexpected token"

**To Reproduce**

Steps to reproduce the behavior:
1. Create jobs
2. listen for queue
3. after a few days (for me) it threw that error

![image](https://user-images.githubusercontent.com/17952364/197540605-d81a547f-45bb-46cb-8228-d81f22d97bee.png)

**Expected behavior**

job.js not getting malformed

**Except

[2022-10-24 18:30] Venipa commented on #122
could it be that `Job.discard()` is causing this?